<br>
<div class="container">
  <div class="row">
    <div class="col-3">
      <menu></menu>
    </div>

    <div class="col-6">
      <b>Nivel:</b>
      {{descripcionNivel}}
      <br />
      <br /> Seleccione el n&uacute;mero:
      <sudoku-toolbar #sudoToolbar></sudoku-toolbar>
      <br>
      <table class="table table-bordered table-sm borde-tabla">
        <thead></thead>
        <tbody>
          <tr *ngFor="let juego of juegoActual.valores; let i = index">
            <ng-container *ngFor="let columna of juego; let j = index;">
              <ng-container *ngIf="juegoOriginal.valores[i][j]!=0; else celdaHabilitada">
                <td align="center" class="fondo-celda" [ngClass]="{'borde-lateral': j%juegoOriginal.longitud == 0 ,'borde-horizontal': i%juegoOriginal.longitud == 0 }">
                  {{columna}}
                </td>
              </ng-container>
              <ng-template #celdaHabilitada class="text-danger">
                <td align="center" (click)="pintarCelda(i,j)" class="font-weight-bold" [ngClass]="{'borde-lateral': j%juegoOriginal.longitud == 0,'borde-horizontal': i%juegoOriginal.longitud == 0 }">
                  <h5>{{columna == 0 ? '' : columna}}</h5>

                </td>
              </ng-template>
            </ng-container>

          </tr>
        </tbody>
      </table>
      <br>
      <div class="text-right">
        <button type="button" class="btn btn-default" (click)="guardar()">Guardar</button>
        <button type="button" class="btn btn-dark" (click)="terminar()">Terminar</button>
      </div>

    </div>
    <datos-usuario></datos-usuario>
  </div>
</div>