<div class="btn-group btn-group-vertical" role="group" aria-label="Button group with nested dropdown">
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      Nueva Partida
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" routerLink="/sudokuf/F">Facil</a>
      <a class="dropdown-item" routerLink="/sudokum/M">Medio</a>
      <a class="dropdown-item" routerLink="/sudokuc/C">Complejo</a>
    </div>
  </div>
  <button type="button" class="btn btn-secondary" routerLink="/sudoku-historial">Historial</button>
  <button type="button" class="btn btn-secondary" routerLink="/sudoku-tutorial">Tutorial</button>
  <button type="button" class="btn btn-secondary" routerLink="/">Salir</button>
</div>